*__pycache__
*_cache
*.vscode
*node_modules*
package.json
package-lock.json
# no backup files
*~*
# no ipynb checkpoints
*.ipynb_checkpoints*
# no personal notes on code
*/notes*
# no generated html files
*/docs/build*
# no tmp files
*/tmp/*

# --- Django ----
GraphApp/static*
