<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>D3 Visualization - {{ app }}</title>

        <!-- Define css class styles here on top of our css file 'styles.css' -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/figures.css' %}">

        <meta name="description" content="D3: meteograms">
        <meta name="author" content="Natacha">
        <!-- <script src="https://d3js.org/d3.v7.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-scale@4" defer></script> -->
    </head>

    <body>

        <!-- <h1>Meteograms</h1> -->

        <script src="https://cdn.jsdelivr.net/npm/d3-path@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-shape@3"></script>
        <script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>
        <!-- The <script> tag is used to embed a client-side script (JavaScript). -->
        <script id="main-script" src="{% static 'index.js' %}" path_data="{% static '' %}" type="module" charset="utf-8"> </script>

    </body>
</html>
