<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>D3 Visualization - {{ app }}</title>

        <!-- Define css class styles here on top of our css file 'styles.css' -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/figures.css' %}">

        <meta name="description" content=" {{ app }}">
        <meta name="author" content="Natacha">
    </head>

    <body>
        <!-- <script> tag is used to embed a client-side script (JavaScript). -->
        <!-- D3 libraries -->

        <script src="https://cdn.jsdelivr.net/npm/d3-path@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-shape@3"></script>
        <script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>

        <!-- jQuery libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- Main script -->
        <script id="main-script" src="{% static 'index.js' %}" path_data="{% static '' %}" type="module" charset="utf-8"> </script>

    </body>
</html>
