
/* ------- Styles of existing types ------- */
body {
	margin: 0;
	padding: 40px;
	font-family: "Raleway", sans-serif;
	font-size: 13px;
}

p {
	font-family: "Merriweather", serif;
	font-size: 1.1em;
	line-height: 1.6em;
}

button {
    cursor: pointer;
}



/* ------- Styles of custom classes ------- */


/* ------- Styles of existing types with specific id ------- */

p#info {
	width: 600px;
	margin-bottom: 60px;
}

p#info:hover {
    cursor: help;
    background-color: #a58a10;
}

/* ------- Styles of specific id ------- */




